### DATATYPES IN PYTHON
- INTEGER
- FLOAT
- STRING
- BOOLEAN
- NONE
- LIST
- TUPLE
- SET
- DICTIONARY

# 1) INTEGER

In [1]:
x = 111134
y = -34

In [3]:
type(x)

int

In [4]:
type(y)

int

# 2) FLOAT

In [5]:
x = 111134.777777777
y = -34.3

In [6]:
type(x)

float

In [8]:
type(y)

float

# 3) STRINGS

In [9]:
name = "amita"

In [10]:
type(name)

str

# 4) BOOLEAN

In [14]:
x = 1000

In [15]:
x>1000

False

In [16]:
x<500

False

In [17]:
x>670

True

In [18]:
x>900

True

# 5) NONE

In [21]:
x = None

In [22]:
type(x)

NoneType

# 6) LIST

In [23]:
a = [4,3,7,2]

In [24]:
type(a)

list

# 7) TUPLE

In [25]:
a = (2,'riya',13.56)

In [26]:
type(a)

tuple

# 8) SET

In [28]:
a = {2,'riya',13.56}

In [29]:
type(a)

set

# 9) Dictionary

In [31]:
car_info = {'brand':'ford', 'price' : 500000}

In [32]:
type(car_info)

dict