## Defining list in python

In [1]:
# List of strings
list1=["nikhlesh","aman","rahul","priya","amita"]

In [2]:
# List of numbers
list2=[1,2,3,4,5,15,25,100]

In [3]:
# List of mixed data list
list3=["ravi",90,102,93,15,25,"b",False,5.786]

In [4]:
# Nested list
list4=[[1,2,3],[3,4,5,7],[2,1]]

In [5]:
# Empty list
x = []

In [6]:
# Duplicated list
y = [1,2,3] * 10
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
# Concatented list
z = [1,2,3] + [3,2,3]
print(z)

[1, 2, 3, 3, 2, 3]

In [11]:
# Make list from 1 to 10
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Make list from 1 to 100
ab = list(range(1,101))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
# Make list of multiples of 2
twoMulti = list(range(2,51,2))
print(twoMulti)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# LIST HAS 11 METHODS/FUNCTIONS
1) ADDITION

1) Append function of list

In [13]:
movies = []

In [14]:
movies.append('Black Panther')

In [15]:
print(movies)

['Black Panther']

In [17]:
fav_movie = input('enter ur fav movie :')
movies.append(fav_movie)
print(movies)

['Black Panther', 'PK', 'PK']

In [18]:
for i in range(5) :
    movies.append(input("enter another movie: "))
print(movies)

['Black Panther', 'PK', 'PK', 'enola holmes', 'sherlock holmes', 'pk', 'black panther', 'train to busan']

In [19]:
for movie in movies:
    print(f"-> {movie.upper()}")

-> BLACK PANTHER
-> PK
-> PK
-> ENOLA HOLMES
-> SHERLOCK HOLMES
-> PK
-> BLACK PANTHER
-> TRAIN TO BUSAN

2) Replace function of list

In [20]:
movies

['Black Panther',
 'PK',
 'PK',
 'enola holmes',
 'sherlock holmes',
 'pk',
 'black panther',
 'train to busan']

In [21]:
movies[2] = 'Shazam'
print(movies)

['Black Panther', 'PK', 'Shazam', 'enola holmes', 'sherlock holmes', 'pk', 'black panther', 'train to busan']

3) Insert function of list

In [22]:
fruits =['apple','banana','cherry']
fruits.insert(1,'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry']

4) Extend function of list

In [23]:
fruits =['apple','banana','cherry','guava']
dry_fruits=['almond','cashew','walnut']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'guava', 'almond', 'cashew', 'walnut']

5) Sort function of list

In [24]:
fruits = ['cherry','guava','apple','banana']
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'guava']

In [25]:
for fruit in fruits:
    print(f"-> {fruit.upper()}")

-> APPLE
-> BANANA
-> CHERRY
-> GUAVA

5) Remove function of list

In [37]:
fruits = ['cherry','guava','apple','banana']

In [38]:
fruits.remove('guava')

In [39]:
if 'guava' in fruits:                             # better way of removing element from data and it also prevents error
    fruits.remove('guava')

6) Reverse function of list

In [40]:
fruits = ['cherry','guava','apple','banana']
fruits.reverse()
print(fruits)

['banana', 'apple', 'guava', 'cherry']

In [43]:
fruits.count('cherry')

1

7) Pop function of list

7) Copy function of list

In [44]:
x = [1,2,3]
y = x

In [45]:
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

In [46]:
z = x.copy()
z.append(100)
x.append(10)
print(x)
print(y)

[1, 2, 3, 10, 20, 10]
[1, 2, 3, 10, 20, 10]

In [47]:
x is y

True

In [48]:
z is x

False