FOR LOOP

1) TRAVERSAL

In [1]:
x=[0,2,1,3,6,10]
for i in x :
    print(i)

0
2
1
3
6
10

In [2]:
colors = ['red' , 'pink' , 'purple']
for val in colors :
    print(f'we got {val}')

we got red
we got pink
we got purple

In [3]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [4]:
for i in range(1,31):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [5]:
for i in range(1,31):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,

In [7]:
for i in range(1,31):
    print(i,end="ðŸ˜’")

1ðŸ˜’2ðŸ˜’3ðŸ˜’4ðŸ˜’5ðŸ˜’6ðŸ˜’7ðŸ˜’8ðŸ˜’9ðŸ˜’10ðŸ˜’11ðŸ˜’12ðŸ˜’13ðŸ˜’14ðŸ˜’15ðŸ˜’16ðŸ˜’17ðŸ˜’18ðŸ˜’19ðŸ˜’20ðŸ˜’21ðŸ˜’22ðŸ˜’23ðŸ˜’24ðŸ˜’25ðŸ˜’26ðŸ˜’27ðŸ˜’28ðŸ˜’29ðŸ˜’30ðŸ˜’

In [8]:
for i in range(1,11):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20