FOR LOOP

1) TRAVERSAL

In [1]:
x=[0,2,1,3,6,10]
for i in x :
    print(i)

0
2
1
3
6
10

In [2]:
colors = ['red' , 'pink' , 'purple']
for val in colors :
    print(f'we got {val}')

we got red
we got pink
we got purple

In [3]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [4]:
for i in range(1,31):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [5]:
for i in range(1,31):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,

In [7]:
for i in range(1,31):
    print(i,end="ðŸ˜’")

1ðŸ˜’2ðŸ˜’3ðŸ˜’4ðŸ˜’5ðŸ˜’6ðŸ˜’7ðŸ˜’8ðŸ˜’9ðŸ˜’10ðŸ˜’11ðŸ˜’12ðŸ˜’13ðŸ˜’14ðŸ˜’15ðŸ˜’16ðŸ˜’17ðŸ˜’18ðŸ˜’19ðŸ˜’20ðŸ˜’21ðŸ˜’22ðŸ˜’23ðŸ˜’24ðŸ˜’25ðŸ˜’26ðŸ˜’27ðŸ˜’28ðŸ˜’29ðŸ˜’30ðŸ˜’

Displaying a table of 2

In [8]:
for i in range(1,11):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

range(10)      |0-9
range(5, 10)   |5-9
range(1,10,2)  |1,3,5,7,9
range(10,0,-1) |10,9,8,7,6,5,4,3,2,1

In [1]:
for i in range(91, 100, 5):
    print(i, end='')

9196

In [3]:
# reverse loop
for i in range(10,0,-1):
    print(i, end='')

10987654321

In [4]:
veg=['potato','tomato','onion','cabbage','carrot']
for item in veg :
    print(item)

potato
tomato
onion
cabbage
carrot

In [5]:
for item in enumerate(veg):
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrot')

In [6]:
for index,value in enumerate(veg):
    print(index, value)

0 potato
1 tomato
2 onion
3 cabbage
4 carrot

In [ ]:
for i in range()

# wap to print the following lists using zip
list 1 contains movie title
list 2 contains movie ratings
list 3 contains movie year
list 4 contains movie director

In [7]:
title = ["DDLJ","GANGS OF WASSAYPUR","3 IDIOTS","LAAL SINGH CHADDHA"]
ratings = ['4 star' , '5 star' , '5 star' , ' 1 star']
movie year = [1992,2006,2008,2022]
director = ["yash chopra" , "anurag kashyap", "rajkumar hirani","amir khan"]
for t,r,m,d in zip(title,ratings,movie year,director):
    print(f' {t} {r} {m} {d}')

SyntaxError: invalid syntax (146220189.py, line 3)

In [13]:
num = 1231
for i in range(2, num):
    if num % i ==0:
        print('not prime')
        break
else: # else block will execute only the loop is not broken
    print('prime')

prime

In [12]:
for num in range(1, 100):
    if num == 1 :
        continue
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [14]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('done')

0
1
2

While loop

In [15]:
x = 10
while x > 0 :
    x-= 2
    print(x)

8
6
4
2
0

In [18]:
total = 0
while True :
    num = int(input('enter a number: '))
    if num == 0:
        break
    total +=num
print(f'Total is {total}')

Total is 10

In [20]:
books =[]
while True:
    name = input('Enter book name: ')
    if name:
        books.append(name) # add item to list
    else:
        break
print("These are your books")
print(books)

These are your books
['do epic shit']