In [1]:
emp = ['Amita','Marwha','Faculty',2300,10000,30000,31,True,False,'IT College']

In [2]:
emp_dict = {
    'fname':'Amita' ,
    'lname':'Marwha' ,
    'dept': 'Faculty' ,
    'age': 31 ,
    'salary':10000 , 
    'bonus':30000 , 
    'is_faculty': True ,
    'is_sweeper': False ,
    'company': 'IT College'}

In [3]:
emp_dict

{'fname': 'Amita',
 'lname': 'Marwha',
 'dept': 'Faculty',
 'age': 31,
 'salary': 10000,
 'bonus': 30000,
 'is_faculty': True,
 'is_sweeper': False,
 'company': 'IT College'}

In [4]:
print(emp_dict)

{'fname': 'Amita', 'lname': 'Marwha', 'dept': 'Faculty', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_faculty': True, 'is_sweeper': False, 'company': 'IT College'}

In [5]:
weather_data = {
    'date': '2019-01-01',
    'temp' : 32 ,
    'details' : {
        'humidity': 80 ,
        'wind': 10 , 
        'pressure' :30,
        'aqi':120},
    'city': 'lucknow',
    'type': 'sunshine',
    'icon' : 'ðŸŒž'
}

In [6]:
weather_data

{'date': '2019-01-01',
 'temp': 32,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'lucknow',
 'type': 'sunshine',
 'icon': 'ðŸŒž'}

### Accessing data from dictionary

In [7]:
weather_data.keys()

dict_keys(['date', 'temp', 'details', 'city', 'type', 'icon'])

In [8]:
weather_data.values()

dict_values(['2019-01-01', 32, {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'lucknow', 'sunshine', 'ðŸŒž'])

In [9]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_faculty', 'is_sweeper', 'company'])

In [10]:
list(weather_data.keys())

['date', 'temp', 'details', 'city', 'type', 'icon']

In [11]:
list(weather_data.values())

['2019-01-01',
 32,
 {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'lucknow',
 'sunshine',
 'ðŸŒž']

In [12]:
list(emp_dict.keys())

['fname',
 'lname',
 'dept',
 'age',
 'salary',
 'bonus',
 'is_faculty',
 'is_sweeper',
 'company']

In [13]:
weather_data['temp']

32

In [14]:
weather_data['city']

'lucknow'

In [15]:
weather_data.get('temp')                    # another way of accessing data and a better one

32

In [16]:
weather_data.get('location')

In [17]:
weather_data.get('city','not found')                          # here , 'not found' value is default value

'lucknow'

In [18]:
weather_data.get('location','not found')

'not found'

### Looping over a dictionary

In [19]:
# first way
for k in emp_dict:
    print(k, '=>' , emp_dict[k])

fname => Amita
lname => Marwha
dept => Faculty
age => 31
salary => 10000
bonus => 30000
is_faculty => True
is_sweeper => False
company => IT College

In [20]:
# Second way is 'items()' function (pythonic way)
for k,v in emp_dict.items():
    print(k,'=>',v)

fname => Amita
lname => Marwha
dept => Faculty
age => 31
salary => 10000
bonus => 30000
is_faculty => True
is_sweeper => False
company => IT College

### Updating an entry in dictionary

In [21]:
weather_data['temp']=35

In [22]:
weather_data

{'date': '2019-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'lucknow',
 'type': 'sunshine',
 'icon': 'ðŸŒž'}

### Adding data

In [23]:
emp_dict

{'fname': 'Amita',
 'lname': 'Marwha',
 'dept': 'Faculty',
 'age': 31,
 'salary': 10000,
 'bonus': 30000,
 'is_faculty': True,
 'is_sweeper': False,
 'company': 'IT College'}

In [25]:
emp_dict['designation']='Asst A'
print(emp_dict)

{'fname': 'Amita', 'lname': 'Marwha', 'dept': 'Faculty', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_faculty': True, 'is_sweeper': False, 'company': 'IT College', 'designation': 'Asst A'}

### Updating data

In [26]:
emp_dict['designation']='Section Manager'
emp_dict['salary']=30000
print(emp_dict)

{'fname': 'Amita', 'lname': 'Marwha', 'dept': 'Faculty', 'age': 31, 'salary': 30000, 'bonus': 30000, 'is_faculty': True, 'is_sweeper': False, 'company': 'IT College', 'designation': 'Section Manager'}

### Remove data

In [33]:
emp_dict.pop('is_sweeper')

KeyError: 'is_sweeper'

In [34]:
emp_dict

{'fname': 'Amita',
 'lname': 'Marwha',
 'dept': 'Faculty',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_faculty': True,
 'company': 'IT College',
 'designation': 'Section Manager'}

In [35]:
if 'is_sweeper' in emp_dict:
    emp_dict.pop('is_sweeper')
emp_dict

{'fname': 'Amita',
 'lname': 'Marwha',
 'dept': 'Faculty',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_faculty': True,
 'company': 'IT College',
 'designation': 'Section Manager'}

In [36]:
reports = {
    '001': {
        'name':'Amar' ,
    'subjects' : {'English':80,'Maths':90,'Science':95}
},
'002':{
 'name':'Vijay' ,
    'subjects' : {'English':70,'Maths':60,'Science':85}   
},
'003':{
 'name':'Raj' ,
    'subjects' : {'English':60,'Maths':50,'Science':45}   
},
}

In [37]:
reports

{'001': {'name': 'Amar',
  'subjects': {'English': 80, 'Maths': 90, 'Science': 95}},
 '002': {'name': 'Vijay',
  'subjects': {'English': 70, 'Maths': 60, 'Science': 85}},
 '003': {'name': 'Raj',
  'subjects': {'English': 60, 'Maths': 50, 'Science': 45}}}

In [56]:
for roll, data in reports.items():
    print("roll no.:",roll)
    for key , val in data.items():
        if isinstance(val,dict):                  # 'isinstance' function will check datatype
            print(key)                            
            for sub,marks in val.items():
                print(sub, marks)
        else:
            print(key,val)
    print('--'*30)

roll no.: 001
name Amar
subjects
English 80
Maths 90
Science 95
------------------------------------------------------------
roll no.: 002
name Vijay
subjects
English 70
Maths 60
Science 85
------------------------------------------------------------
roll no.: 003
name Raj
subjects
English 60
Maths 50
Science 45
------------------------------------------------------------

In [57]:
for roll, data in reports.items():
    print("roll no.:",roll)
    for key , val in data.items():
        if isinstance(val,dict):                      # 'isinstance' function will check datatype
            print(key)
            total = 0                            
            for sub,marks in val.items():
                print(sub, marks)
                total += marks                           # add marks to total
            print(f'Total:{total}/300')                  # display
        else:
            print(key,val)
    print('--'*30)

roll no.: 001
name Amar
subjects
English 80
Maths 90
Science 95
Total:265/300
------------------------------------------------------------
roll no.: 002
name Vijay
subjects
English 70
Maths 60
Science 85
Total:215/300
------------------------------------------------------------
roll no.: 003
name Raj
subjects
English 60
Maths 50
Science 45
Total:155/300
------------------------------------------------------------

In [61]:
for roll, data in reports.items():
    print("roll no.:",roll)
    for key , val in data.items():
        if isinstance(val,dict):                      # 'isinstance' function will check datatype
            print(key)
            total = 0                            
            for sub,marks in val.items():
                print(sub, marks)
                total += marks
                percentage = 0                           # add marks to total
            print(f'Total:{total}/300')                   # display
            print(f'Percentage={total/300*100:.2f}%')      # display         
        else:
            print(key,val)
    print('--'*30)

roll no.: 001
name Amar
subjects
English 80
Maths 90
Science 95
Total:265/300
Percentage=88.33%
------------------------------------------------------------
roll no.: 002
name Vijay
subjects
English 70
Maths 60
Science 85
Total:215/300
Percentage=71.67%
------------------------------------------------------------
roll no.: 003
name Raj
subjects
English 60
Maths 50
Science 45
Total:155/300
Percentage=51.67%
------------------------------------------------------------

### File handling
   - open a file
   - reading a file
   - writing a file
   - appending a file

In [64]:
# Open a file
f= open('hello.py')
print(f)

<_io.TextIOWrapper name='hello.py' mode='r' encoding='cp1252'>

In [65]:
# Read ing a file
f= open('hello.py')
print(f.read())

print('hi there')

In [68]:
f= open(r'C:\Users\HP\Desktop\jyotsana.txt')                 # r is raw format which is used to
content = f.read()
print(f'{len(content)} characters')

0 characters

In [71]:
# Reading a file(way not to be used)
# file =open('mydata.txt','w')
# file.write(data)
#file.close()

In [70]:
# Reading a file(better way)
data = 'hi everyone, this is a sample file'
with open('mydata.txt', 'w') as file:
    file.write(data)

In [72]:
# Appending a file(
data = '\nthis is the new data that is going to be written'
with open('mydata.txt', 'a') as file:
    file.write(data)

In [73]:
data

'\nthis is the new data that is going to be written'

In [75]:
file = 'bio.txt'
content = ''

while True:
    line = input('Enter a line(or q to quit):')
    if line == 'q':
        break
    content += line +'\n'

with open(file,'w') as f:
    f.write(content)
    print(f'File{file}saved')

Filebio.txtsaved