In [2]:
# tuple with mixed datatypes
my_tuple = (1, "Hello" , 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse" , [8,4,6] , (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
# A tuple can also be created withhout using parentheses.
# This is known as tuple packing
my_tuple = 3 , 4.6 , "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [6]:
# Assesing tuple elements using indexes
my_tuple = ('p' , 'e' , 'r' , 'm' , 'i' , 't')
print(my_tuple[0])        # 'p'
print(my_tuple[5])        # 't'

p
t

In [8]:
# nested tuple
n_tuple = ("mouse" , [8,4,6] , (1,2,3))
# nested index
print(n_tuple[0][3])        # 's'
print(n_tuple[1][1])        # 4

s
4

In [9]:
# Accessing tuple elements using slicing
my_tuple = ('e' , 'x' , 'c' , 'a' , 'l' , 'i' , 'b' , 'u' , 'r')

In [10]:
# elements 2nd to 4th
# output ('x' , 'c' , 'a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [11]:
# elements beginning to 2nd 
# output: ('e' , 'x')
print(my_tuple[:-7])

('e', 'x')

In [12]:
# elements 8th to end
# output ('u' , 'r')
print(my_tuple[7:])

('u', 'r')

In [13]:
# elements beginning to end
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [16]:
# Concatenation
# Output: (1,2,3,4,5,6)
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

#### SET

In [19]:
# Set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [20]:
# Set of mixed datatypes
my_set  = {1.0 , 'oye' , (1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'oye'}

In [21]:
# Set cannot have duplicates
# Output : {1,2,3,4,3,2}
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [22]:
# We can make set from a list 
# Output : {1,2,3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [24]:
my_set = {1,2,[3,4]}     # Set cannot have  mutable items . Here , [3,4] is a mutable list and this will cause an error

TypeError: unhashable type: 'list'

In [ ]:
# Initialize

In [25]:
# Set union
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [26]:
# Use / operator
# Output : {1,2,3,4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
# use union function 
A.union(B)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
B.union(A)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
print(A&B)

{4, 5}

In [30]:
A.intersection(B)
{4,5}

{4, 5}

In [31]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [32]:
A.symmetric_difference(B)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

### Create 2 sets of electric devices and perform set operations on them

In [33]:
set1 = {"Mobile" , "laptop" , "tablet"}
set2 = {"geyser" , "fan" , "tubelight"}
print(set1)
print(set2)

{'Mobile', 'laptop', 'tablet'}
{'fan', 'tubelight', 'geyser'}

In [35]:
set1.add("computer")
set2.add("camera")
print(set1)
print(set2)

{'Mobile', 'computer', 'laptop', 'tablet'}
{'fan', 'camera', 'tubelight', 'geyser'}

In [36]:
print(set1|set2)

{'tubelight', 'computer', 'laptop', 'camera', 'geyser', 'tablet', 'fan', 'Mobile'}

In [37]:
set1.union(set2)

{'Mobile',
 'camera',
 'computer',
 'fan',
 'geyser',
 'laptop',
 'tablet',
 'tubelight'}

In [38]:
set2.union(set1)

{'Mobile',
 'camera',
 'computer',
 'fan',
 'geyser',
 'laptop',
 'tablet',
 'tubelight'}

In [44]:
set1 = {"Mobile" , "laptop" , "tablet" , "camera"}
set2 = {"geyser" , "fan" , "tubelight" , "camera"}
print(set1 & set2)

{'camera'}

In [45]:
set1.intersection(set2)

{'camera'}

In [47]:
print(set1-set2)

{'Mobile', 'laptop', 'tablet'}

In [48]:
set1.difference(set2)

{'Mobile', 'laptop', 'tablet'}

In [49]:
print(set1 ^ set2)

{'tubelight', 'laptop', 'geyser', 'tablet', 'fan', 'Mobile'}

In [50]:
set1.symmetric_difference(set2)

{'Mobile', 'fan', 'geyser', 'laptop', 'tablet', 'tubelight'}