In [2]:
name = input('enter your name: ')
age = input('enter your age: ')
school = input('enter your school name: ')
print(name)
print(age)
print(school)

vidushi
22
kendriya vidyalaya

# Casting in PYTHON

In [7]:
age = input('enter your age: ')                            #before casting
print(age)
type(age)

22

str

In [8]:
age = input('enter your age: ')                            #after casting
age = int(age)
print(age)
type(age)

22

int

In [10]:
x = '100'                                 # before casting
y = '-90'
x+y

'100-90'

In [11]:
x = int(100)                               # after casting
y = int(-90)
x+y

10

In [26]:
z = 56.232
z1 = int(z)

In [27]:
print(z)
type(z)

56.232

float

In [28]:
print(z1)
type(z1)

56

int

# Print Function

In [33]:
name = 'Harry Potter'
name                                       # raw output

'Harry Potter'

In [35]:
name = 'Harry Potter'
print(name)                                 # formatted output  (this gives clean output)

Harry Potter

# Formatting Print

1) Output -> print() function

In [36]:
print(1,2,3,4)

1 2 3 4

In [37]:
print(1,2,3,4,sep='*')

1*2*3*4

In [38]:
print(1,2,3,4,sep='*',end='&')

1*2*3*4&

2) Output -> output formatting

In [40]:
# the f strings
qty = 10
fruit = 'apple'
print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

In [41]:
name = 'Digipodium'
type_of_company = 'Educational'

# enclose your variable within the {} to display it's value in the output    
print(f"{name} is an {type_of_company} company")                           # more attractive

Digipodium is an Educational company

In [43]:
name = 'Digipodium'
type_of_company = 'Educational'

# enclose your variable within the {} to display it's value in the output
print(name,'is an' , type_of_company, 'company')                             # less attractive

Digipodium is an Educational company